// Application main file

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

// Tasks page
.assign-task {
    float: right;
    .input-group-addon {
        width: 30px
    }
    input {
        width: 200px;
    }
}
