<div ng-hide="isLogged()" class="jumbotron">
  <div class="container">
    <h1> Moje rodina </h1>
    <p>Jestliže střechou zatéká, zakryje se díra rohožkou. Jestliže hrnec teče, utěsní se moučnou kaší. Jestliže rodina se vadí, není jí pomoci. Jestliže obyvatelé domu porušují zákon, padá vina na pána domu. </p>
    <p><a class="btn btn-primary btn-lg" href="#/login" role="button">Přihlásit &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
    </p>
  </div>
</div>

<div ng-show="isLogged()" class="container">
  <div class="page-header">
    <h1>Skóre</h1>

      <div class="row">
          <div class="col-sm-11">
              <p class="lead">
                  Jak to u nás vypadá
              </p>
          </div>
          <div class="col-sm-1">
              <input type="checkbox" ng-model="showAll">
              Vše
          </div>
      </div>
  </div>
  <div class="row" ng-repeat-start="child in user.children">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-xs-3 col-sm-4 col-md-3">
          <img class="pull-left img-rounded" src="{{ child.avatar }}">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-6">
          <span class="h3">{{ child.name }}</span>
          <p>
              {{ child.balance.amount }} / {{ child.target.amount }} {{ child.balance.currency }}
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ child.balance.amount }}" aria-valuemin="0" aria-valuemax="{{ child.target.amount }}" style="width: {{ (child.balance.amount / child.target.amount)*100 }}%;">
            </div>
          </div>
        </div>
        <div class="col-xs-3 col-sm-4 col-md-3">
            <img class="pull-left img-rounded" src="{{ child.target.avatar }}">
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="list-group">
        <a ng-repeat="task in tasks | filter:{assignee: child.id}" class="list-group-item" ng-show="task.recent || !task.done || showAll " ng-class="task.recent ? 'recent':''">
          <div class="input-group action-pane" ng-show="!task.done">
            <button class="btn btn-success" ng-click="finishTask(task, child)">
              <span class="glyphicon glyphicon-ok"></span> Hotovo</button>
          </div>
          <div class="action-pane input-group" ng-show="task.recent == true">
            <button class="btn btn-danger" ng-click="unfinishTask(task, child)">Vzít zpět</button>
          </div>

          <h4 class="list-group-item-heading">{{ task.name }}</h4>
          <p class="list-group-item-text">{{ task.description }}</p>

        </a>
      </div>
    </div>
  </div>
  <hr ng-repeat-end>
</div>