<div class="jumbotron">
    <div class="container">
        <h1><img ng-src="{{avatar}}"></img> {{ hello }} </h1>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim sunt perspiciatis, eum maxime cumque praesentium eius totam dicta asperiores, quasi, doloribus! Optio id vel asperiores, minus, deleniti suscipit culpa repellendus.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Call To Action &nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="list-group">

                <a
                    ng-repeat="task in tasks"
                    ng-class="task.done ? 'list-group-item-success' : ''"
                    href=""
                    class="list-group-item">
                    <span ng-if="task.done" class="h4 pull-right">
                        <span class="glyphicon glyphicon-ok"></span>
                    </span>
                    <h4 class="list-group-item-heading">{{ task.name }}</h4>
                    <p class="list-group-item-text">{{ task.description }}</p>
                </a>


            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam similique, commodi perferendis? Ipsa animi excepturi, unde, id nostrum quis? Est eaque quae dolores qui, temporibus cum! Recusandae possimus, corporis. Consequatur.</p>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam similique, commodi perferendis? Ipsa animi excepturi, unde, id nostrum quis? Est eaque quae dolores qui, temporibus cum! Recusandae possimus, corporis. Consequatur.</p>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam similique, commodi perferendis? Ipsa animi excepturi, unde, id nostrum quis? Est eaque quae dolores qui, temporibus cum! Recusandae possimus, corporis. Consequatur.</p>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam similique, commodi perferendis? Ipsa animi excepturi, unde, id nostrum quis? Est eaque quae dolores qui, temporibus cum! Recusandae possimus, corporis. Consequatur.</p>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam similique, commodi perferendis? Ipsa animi excepturi, unde, id nostrum quis? Est eaque quae dolores qui, temporibus cum! Recusandae possimus, corporis. Consequatur.</p>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam similique, commodi perferendis? Ipsa animi excepturi, unde, id nostrum quis? Est eaque quae dolores qui, temporibus cum! Recusandae possimus, corporis. Consequatur.</p>
        </div>
    </div>
</div>
