<div class="container">
	<div class="page-header">
		<h1>Úkoly</h1>
		<p class="lead">Seznam nepřiřazených úkolů</p>
	</div>
	
	
	<div class="row">
		<div class="col-sm-12">
			<form class="form-inline">
			  <div class="form-group">
			    <label class="sr-only" for="exampleInputEmail2">Název</label>
			    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Název" ng-model="newtask.name">
			  </div>
			  <div class="form-group">
			    <label class="sr-only" for="exampleInputPassword2">Popis</label>
			    <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Popis" ng-model="newtask.description">
			  </div>
			  <div class="form-group">
			    <label class="sr-only" for="exampleInputPassword2">Odměna</label>
			    <input type="number" class="form-control" id="exampleInputPassword2" placeholder="Odměna" ng-model="newtask.reward">
			  </div>
			  <button type="submit" class="btn btn-success" ng-click="createTask(newtask)">Přidat úkol</button>
			</form>
		</div>
	</div>
	
	<br />
		
	<div class="row">
		<div class="col-sm-12">

			<div class="list-group">
				<div
					ng-repeat="task in tasks | filter:unassigned"
					href=""
					ng-class="task.recent ? 'recent':''"
					class="list-group-item">

					<div class="action-pane input-group">

						<div class="btn-group" ng-show="task.assignee == null">
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						    Udělá... <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    <li ng-repeat="child in user.children"><a ng-click="assignTask(task, child)">{{ child.name }}</a></li>
						  </ul>
						</div>

						<div class="btn-group" role="group" ng-show="task.recent == true">
							<button type="button" class="btn btn-default">Udělá&nbsp;{{task.assigneeName}}</button>
							<button type="button" class="btn btn-danger" ng-click="unassignTask(task)">
								<span class="glyphicon glyphicon-remove"></span> Vzít zpět</button>
							</div>
						</div>

					<h4 class="list-group-item-heading">{{ task.name }}</h4>
					<p class="list-group-item-text">{{ task.description }}</p>
					<span class="label label-success">{{task.reward}} CZK</span>
				</div>
			</div>
		</div>
	</div>
</div>
