<div class="container">
	<div class="page-header">
		<h1>Úkoly</h1>
		<p class="lead">Seznam nepřiřazených úkolů</p>
	</div>
	<div class="row">
		<div class="col-sm-12">

			<div class="list-group">

				<div
					ng-repeat="task in tasks | filter:todo"
					href=""
					class="list-group-item">

					<div class="assign-task input-group">
						<span class="input-group-addon">Přiřadit úkol: </span>
						<select
							ng-model="assignTask"
							class="form-control">
							<option value=""></option>
							<option value="user.name" ng-repeat="user in user.children">{{ user.name }}</option>
						</select>
					</div>

					<h4 class="list-group-item-heading">{{ task.name }}</h4>
					<p class="list-group-item-text">{{ task.description }}</p>
				</div>


			</div>

		</div>
	</div>
</div>
